In [82]:
import csv
import numpy as np
import pandas as pd
pd.set_option("display.max_rows",12)
pd.set_option("display.max_columns",101)

# Wczytanie danych
Powinieneś być w stanie zobaczyć wszystkie kolumny i 10 wierszy danych:
<ul>
<li>survival – Survival (0 = No; 1 = Yes)</li>
<li>pclass – Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)</li>
<li>sex – Sex</li>
<li>age – Age</li>
<li>sibsp  – Number of Siblings/Spouses Aboard</li>
<li>parch – Number of Parents/Children Aboard</li>
<li>ticket – Ticket Number</li>
<li>fare – Passenger Fare</li>
<li>cabin – Cabin</li>
<li>embarked – Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)</li>
<ul>

In [83]:
df = pd.read_csv('http://stamfordresearch.com/wp-content/uploads/2016/08/Titanic.csv') 
print(df.shape)
df.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [84]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Zad. 1
Usuń kolumny: "PassengerId", "Name" i "Ticket". 

Powody:
<ul>
<li>PassengerId - jest to unikalny numer</li>
<li>Imię - nie ma wpływu na predykcje</li>
<li>Bilet - wygląda niechlujnie i jest losowe</li>
</ul>

# Następnie musimy spojrzeć na kolumnę Cabin.
Następnie musimy spojrzeć na kolumnę  <tt> Cabin</tt>. Będziemy leniwi i zmienimy wartości na Tak lub Nie (w zależności czy posiadał kabinę). Lepszym sposobem na to może być podzielenie opisu tak, aby uzyskać pierwszą literę, ponieważ zwykle oznacza ona, na którym pokładzie znajdowała się kabina. Może to być użyteczne przy predykcji (ale my na razie jej nie wykonujemy).

In [86]:
df.loc[df.Cabin.isnull()]

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
2           1       3  female  26.0      0      0   7.9250   NaN        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
5           0       3    male   NaN      0      0   8.4583   NaN        Q
7           0       3    male   2.0      3      1  21.0750   NaN        S
8           1       3  female  27.0      0      2  11.1333   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
883         0       2    male  28.0      0      0  10.5000   NaN        S
884         0       3    male  25.0      0      0   7.0500   NaN        S
885         0       3  female  39.0      0      5  29.1250   NaN        Q
886         0       2    male  27.0      0      0  13.0000   NaN        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[687 rows x 9 columns]

# Zad. 2
Utwórz nową kolumną o nazwie <tt>HasCabin</tt>, która zawiera 1 jeżeli ktoś miał swoją kabinę i 0 jeśli nie.

# Zad. 3
Usuń brakujące wartości

# Zad. 4
Dokonaj konwersji danych do postaci numerycznej

In [96]:
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,HasCabin,Embarked__0,Embarked__C,Embarked__Q,Embarked__S,Sex__female,Sex__male
0,0,3,22.0,1,0,7.2500,0.0,0,0,0,1,0,1
1,1,1,38.0,1,0,71.2833,1.0,0,1,0,0,1,0
2,1,3,26.0,0,0,7.9250,0.0,0,0,0,1,1,0
3,1,1,35.0,1,0,53.1000,1.0,0,0,0,1,1,0
4,0,3,35.0,0,0,8.0500,0.0,0,0,0,1,0,1