In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Zadanie 
Wykonaj test chi-kwadrat w celu sprawdzenia czy dane demograficzne w USA mają ten sam rozkład co dane w Minesockie.
Użyj danych wygenerowanych poniżej:

In [3]:
national = pd.DataFrame(["white"]*100000 + ["hispanic"]*60000 +\
                        ["black"]*50000 + ["asian"]*15000 + ["other"]*35000)
           

minnesota = pd.DataFrame(["white"]*600 + ["hispanic"]*300 + \
                         ["black"]*250 +["asian"]*75 + ["other"]*150)
national_table = pd.crosstab(index=national[0], columns="count")
minnesota_table = pd.crosstab(index=minnesota[0], columns="count")
print( "National")
print(national_table)
print(" ")
print( "Minnesota")
print(minnesota_table)

National
col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000

Minnesota
col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

In [4]:
# (national)

## Najpierw musimy wyliczyć przewidywany rozkład

In [5]:
len(national)

260000

USA tak samo jak minesota

In [6]:
observed = national_table
print(observed)
print("...")
minesota_ratios = minnesota_table/len(minnesota)  # Get population ratios
# print(national_ratios)
print("...")
expected = minesota_ratios * len(national)   # Get expected counts
print(expected)

stats.chisquare(f_obs= observed,f_exp= expected)

col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000
...
...
col_0             count
0
asian      14181.818182
black      47272.727273
hispanic   56727.272727
other      28363.636364
white     113454.545455

Power_divergenceResult(statistic=array([3541.66666667]), pvalue=array([0.]))

## Wykonujemy test chi-kwadrat

Czy dane demograficzne w Minesockie mają ten sam rozkład co dane  w USA.

In [7]:
observed = minnesota_table
print(observed)
print("...")
national_ratios = national_table/len(national)  # Get population ratios
print(national_ratios)
print("...")
expected = national_ratios * len(minnesota)   # Get expected counts
print(expected)

stats.chisquare(f_obs= observed,f_exp= expected)

col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600
...
col_0        count
0
asian     0.057692
black     0.192308
hispanic  0.230769
other     0.134615
white     0.384615
...
col_0          count
0
asian      79.326923
black     264.423077
hispanic  317.307692
other     185.096154
white     528.846154

Power_divergenceResult(statistic=array([18.19480519]), pvalue=array([0.00113047]))

In [8]:
# stats.chisquare(f_obs= observed,f_exp= expected)

Power_divergenceResult(statistic=18.729967948717935, pvalue=0.0008879893799114791)

In [10]:
national_table.new

0
asian        79.326923
black       264.423077
hispanic    317.307692
other       185.096154
white       528.846154
Name: new, dtype: float64

In [14]:
national_table

col_0      count         new
0
asian      15000   79.326923
black      50000  264.423077
hispanic   60000  317.307692
other      35000  185.096154
white     100000  528.846154

In [10]:
stats.chisquare(f_obs= observed/np.sum(observed),f_exp= expected/np.sum(expected)

Power_divergenceResult(statistic=array([0.01323259]), pvalue=array([0.99997821]))

In [5]:
stats.chisquare(f_obs= expected,f_exp= observed)

Power_divergenceResult(statistic=array([18.72996795]), pvalue=array([0.00088799]))

In [14]:
#expected1=expected/np.sum(expected)

In [22]:
#observed1=observed/np.sum(observed)