In [4]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
from sklearn import linear_model
from scipy import stats

# Generalized Linear Models w Sklearn

In [5]:
data_str = '''Region Alcohol Tobacco
North 6.47 4.03
Yorkshire 6.13 3.76
Northeast 6.19 3.77
East_Midlands 4.89 3.34
West_Midlands 5.63 3.47
East_Anglia 4.52 2.92
Southeast 5.89 3.20
Southwest 4.79 2.71
Wales 5.27 3.53
Scotland 6.08 4.51
Northern_Ireland 4.02 4.56'''

Wczytajmy nasze dane

In [8]:
# Read in the data. Note that for Python 2.x,
# you have to change the "import" statement
from io import StringIO
df = pd.read_csv(StringIO(data_str), sep=r'\s+')
data = np.matrix( df )
df.head()

          Region  Alcohol  Tobacco
0          North     6.47     4.03
1      Yorkshire     6.13     3.76
2      Northeast     6.19     3.77
3  East_Midlands     4.89     3.34
4  West_Midlands     5.63     3.47

# Zadanie
Zdefiniujmy dwa modele liniowe na danych bez ostatniego elementu i danych pełnych.

Porównaj wyniki za pomocą miary $R^2$.